services:
  pgadmin:
    container_name: jaus-pgadmin
    image: dpage/pgadmin4:latest
    networks:
      - jaus_network
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: true
    ports:
      - 15080:80
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin/
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      postgres:
        condition: service_healthy

  grpcui:
    container_name: jaus-grpcui
    image: fullstorydev/grpcui:latest
    networks:
      - jaus_network
    restart: always
    ports:
      - 15081:8080
    entrypoint: [
        "/bin/grpcui",
        "-plaintext",
        "-vvv",
        "-bind=0.0.0.0",
        "-port=8080",
        "-open-browser=false",
        "-connect-fail-fast=false",
        "-connect-timeout=3600",
        #"-proto=/protos/grpc.proto",
        "-import-path=/workspace/",
        "dev-container:8000",
      ]
    volumes:
      # Mounts the project folder to '/workspace'. While this file is in .devcontainer,
      # mounts are relative to the first file in the list, which is a level up.
      - ../:/workspace:cached

  debezium-ui:
    container_name: jaus-debezium-ui
    image: quay.io/debezium/debezium-ui:latest
    networks:
      - jaus_network
    restart: always
    ports:
      - 15082:8080
    environment:
      - KAFKA_CONNECT_URIS=http://kafka-connect:8083
    depends_on:
      kafka:
        condition: service_started

  kafka-ui:
    container_name: jaus-kafka-ui
    image: provectuslabs/kafka-ui:latest
    networks:
      - jaus_network
    restart: always
    ports:
      - 15083:8080
    depends_on:
      kafka:
        condition: service_started
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_METRICS_PORT: 9997
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka-connect:8083
      DYNAMIC_CONFIG_ENABLED: "true"

networks:
  jaus_network:
    external: false
